*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(font/Qatar2022-Bold.otf);
    font-family: 'Raleway-Regular';    
    font-weight: normal;
}

.menu-container {
    color: #fff;
    background-color: #1f2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    font-family: 'Raleway-Regular'; 
    justify-content: flex-end;
    font-size: 18px;
    color: #f9faf8;
}

.link_three {
    margin-left: 20px;
}

.link_two {
    margin-left: 20px;
}


.header-container{
    color: #5995DA;
    background-color: #1f2937;
    display: flex;
    justify-content: center;    
}

.header_logo {
    font-size: 24px;
}

.header {
   width: 1300px;
   height: 300px;
   display: flex;
   justify-content:space-between;
   align-items: center;
}

.header_one_one {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    font-family: 'Raleway-Regular'; 
}

.header_one_two {
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Raleway-Regular'; 
}

.header_one_btn {
    background-color: #3882f6;
    font-family: 'Raleway-Regular'; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.header_two {
    background-color: #9b9b9baf;
    color: #e5e7eb;
    width: 400px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center
}

.informacoes {
    color: #5995DA;
    background-color: #FFF;
    display: flex;
    justify-content: center;

 }

 .img_bandeira {
    border-radius: 8px;
 }

 .texto_imagem {
    font-size: 18px;
    padding: 10px;
    color: #868383;
    font-family: 'Raleway-Regular'; 
    display: flex;
    justify-content:space-around;
 }

 .titulo_informacoes {
    color: #1f2937;
    font-weight: 800;
    width: 1300px;
    height: 360px;
    display: flex;
    justify-content:space-around;
    
 }

 .texto_informacoes  {
    font-family: 'Raleway-Regular'; 
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 36px;
    color: #1f2937;
    padding: 40px;
 }

 .primeira_informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }

 .quote {
    color: #5995DA;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;    
 }

 .quote_information {
    width: 1300px;
    height: 600px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
 }

 .p_campeao1 {
    color: #1f2937;
    font-size: 42px;
    font-style: italic;
    font-family: 'Raleway-Regular'; 
    display: flex;
 }

 .p_campeao2 {
    color: #1f2937;
    font-size: 22px;
    font-family: 'Raleway-Regular'; 
    display: flex;
    justify-content: flex-end;
 }
 
.final {
    color: #5995DA;
    background-color: #FFF;
    display: flex;
    justify-content: center;
 }

 .final_div {
    color: #1f2937;
    font-weight: 800;
    width: 1300px;
    height: 300px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
 }
 .final_content {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 1300px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-radius: 8px;
}

.h1-final {
    font-size: 36px;
    color: #fff;
    font-family: 'Raleway-Regular'; 
    display: flex;
    justify-content:start;
 }

.p-final {
    font-size: 18px;
    color: #fff;
    font-family: 'Raleway-Regular'; 
    display: flex;
    justify-content:start;
 }
 
 .footer-container {
    color: #fff;
    background-color: #1f2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.footer {
    width: 1300px;
    display: flex;
    justify-content: center;
}

.final_btn {
    display: flex;
    font-family: 'Raleway-Regular'; 
    justify-content: flex-end;
    font-size: 18px;
    color: #f9faf8; }

 .btn-final {
    background-color: #3882f6;
    font-family: 'Raleway-Regular'; 
    border: 1px solid #fff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
}   